button, input[type=submit] {
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 5px;
  font-size: 0.9em;
}

.button-green {
  background-color: #91d568;
  color: #ffffff;
  border: 1px solid #62b62f;
  transition: background-color 0.3s;

  &:hover {
    background-color: #62b62f;
  }
}

.button-disabled {
  background-color: #cccccc;
  color: #666666;
  border: 1px solid #999999;
}

.button-close {
  background-color: #f44336;
  color: white;
  border: 1px solid #dd1b0c;
  transition: background-color 0.3s;

  &:hover {
    background-color: red;
  }
}

.button-delete {
  font-size: 1em;
  border: 0px;
  background: none;
  color: red;
  font-weight: bold;
  transition: all 0.3s;
  
  &:hover {
    color: #790000;
    transform: rotate(20deg) scale(1.5);
  }
}

input, select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h1 {
    text-align: center;
  }
}


.modal {
  position: fixed;
  width: 60%;
  max-height: 80vh;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.employee-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  padding: 12px 16px;
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
  border-radius: 12px;
  margin-bottom: 12px;

  .employee-title {
    margin-bottom: 8px;
  }

  .employee-avatar-container {
    img {
      max-width: 50px;
    }
    .avatar-inactive {
      filter: grayscale(1);
    }
  }
  
  .employee-info {
    display: flex;
    align-items: center;
  }
  
  .employee-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    
    .employee-name {
      font-size: 1em;
      font-weight: bold;
    }
  
    .employee-hiredate-title {
      font-size: 0.9em;
      font-weight: 600;
    }
  
    .employee-hiredate {
      font-size: 0.9em;
    }
  }
}

.employee-creation-container {
  .employee-creation-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    .employee-creation-group {
      display: flex;
      flex-direction: column;
    }
    
    label {
      padding: 12px 12px 12px 0;
    }
  }
  .employee-creation-buttons {
    display: flex;
    justify-content: center;
  }
}


.employee-details-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;

  .employee-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .employee-details-avatar-hiredate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;

    .employee-details-hiredate-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 4px 0;
      }
    }

    .employee-details-avatar-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      .avatar {
        max-width: 100px;
        width: 100%;
        border-radius: 50%;
      }
      
      .inactive-label {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 0, 0, 0.8);
        color: #fff;
        padding: 2px 24px;
        font-size: 12px;
        border-radius: 3px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
  }

  .employee-details {
    display: flex;
    flex-direction: column;

    p {
      margin: 10px 0;
    }

    .employee-department-form {
      margin: 10px 0;
      select {
        margin-left: 8px;
      }
    }
  }
}


@media (max-width: 769px) { 
  .employee-container {
    flex-direction: column;
  }
}

@media (max-width: 481px) {
  .employee-info {
    flex-direction: column;
  }

  .employee-details-container .employee-details-avatar-hiredate {
    flex-direction: column;
  }
}
